<div class="flex flex-col h-full select-none">

    <div class="flex justify-between">
        <div *ngIf="!(this.auth.isAuthenticated$ | async)" class="flex items-center justify-start w-full gap-5"> <button
                (click)="login()"
                class="select-none shadow-2xl w-100 p-4 px-20 rounded-full bg-bhayanak-700 hover:bg-bhayanak-500
                hover:text-gray-100 font-semibold transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                Login</button>
            <div class="select-none text-2xl font-semibold">Login to join a room</div>
        </div>
        <div *ngIf="this.auth.user$ | async as user" class="text-4xl items-center font-bold h-16">
            {{user.nickname}}
        </div>
        <div class="text-lg flex items-center font-bold h-16 w-max">
            {{userCount}} users online
        </div>
    </div>

    <div class="h-full w-full overflow-y-auto">
        <div class="flex flex-row justify-start gap-4 flex-wrap">

            <div *ngIf="(this.auth.isAuthenticated$ | async)"
                class="bg-bhayanak-700 p-4 rounded-lg w-full md:w-2/4 lg:w-1/5">
                <app-create-room (roomDetails)="onCreateRoom($event)">
                </app-create-room>
            </div>

            <div *ngFor="let room of roomList" class="bg-bhayanak-700 p-4 rounded-lg w-full md:w-2/4 lg:w-1/5">
                <div class="flex flex-col gap-4 select-none">
                    <div class="h-100 py-2">
                        <div class="text-2xl font-bold">
                            {{room.name}}
                        </div>
                        <div class="text-md font-semibold">
                            {{room.owner}}
                        </div>
                        <div class="text-sm">
                            {{room.created | date}}
                        </div>
                    </div>
                    <div class="h-4/6">
                        users
                    </div>
                    <div (click)="joinRoom(room)"
                        class="cursor-pointer text-xl font-bold py-3 px-4 bg-bhayanak-900 text-center rounded-md select-none shadow-md transform transition duration-200 hover:scale-105 hover:bg-bhayanak-600">
                        Join
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>